<nav>
    <ul>
        <li><a href="{{ url_for('owner.owner_home') }}"><i class="fa fa-tachometer"></i> Dashboard</a></li>
        <li><a href="{{ url_for('owner.branches') }}"><i class="fa fa-code-branch"></i> Branches</a></li>
        <li><a href="{{ url_for('owner.appointments') }}"><i class="fa fa-calendar"></i> Appointments</a></li>
        <li><a href="{{ url_for('owner.patients') }}"><i class="fa fa-users"></i> Patients</a></li>
        <li><a href="{{ url_for('owner.employees') }}"><i class="fa fa-user-md"></i> Employees</a></li>
        <li><a href="{{ url_for('owner.inventory') }}"><i class="fa fa-box"></i> Inventory</a></li>
        <li><a href="{{ url_for('owner.transactions') }}"><i class="fa fa-credit-card"></i> Transaction</a></li>
        <li><a href="{{ url_for('owner.reports') }}"><i class="fa fa-file-alt"></i> Reports</a></li>
    </ul>
</nav>