{% extends 'owner/owner_base.html' %}

{% block title %}Teethnology Patient Record{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/o_patient_info.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
{% endblock %}

{% block content %}
            <div class="patients-table-container">
                    <table class="patients-table">
                        <tbody>
                            <tr>
                                <td><a href="{{ url_for('owner.patients') }}"><i class="fa fa-chevron-left"></i></a></td>
                                <td>1</td>
                                <td>011</td>
                                <td>Patient name</td>
                                <td>25</td>
                                <td>F</td>
                                <td>(633) 8xx-xxxx-xxx</td>
                                <td>example@email.com</td>
                                <td>Branch 1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="patient-info-container">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" id="patientInfoTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('owner.patient_info') }}" data-branch="patient_rec">Patient Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('owner.patient_procedure') }}" data-branch="procedure">Procedure History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{ url_for('owner.patient_dental_rec') }}" data-branch="dental_record">Dental Record</a>
                        </li>
                    </ul>
                <!-- Patient Info Tab Content -->
                <div class="tab-content pt-4" id="patientInfoContent">
                    <div class="patient-info-section">
                        <h2 class="section-title">Patient Information Record</h2>
                        
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">Surname Name:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">First Name:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">Middle Initial:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">Birthdate:</label>
                                    <div class="col-sm-8">
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">Date:</label>
                                    <div class="col-sm-8">
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">Age:</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">Sex:</label>
                                    <div class="col-sm-8">
                                        <div class="radio-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="sex" id="female" value="female">
                                                <label class="form-check-label" for="female">Female</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="sex" id="male" value="male">
                                                <label class="form-check-label" for="male">Male</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">Patient Address Line 1:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3 address-indent">
                                    <label class="col-sm-4 col-form-label">barangay:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3 address-indent">
                                    <label class="col-sm-4 col-form-label">city:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3 address-indent">
                                    <label class="col-sm-4 col-form-label">province:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3 address-indent">
                                    <label class="col-sm-4 col-form-label">country:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">Occupation:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">Office No:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">Contact No:</label>
                                    <div class="col-sm-8">
                                        <input type="tel" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">Email:</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">Who may we thank for referring you?</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">For Minors:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="Parent/Guardian Name">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">Occupation:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">What is your reason for Dental Consultation?</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h3 class="section-subtitle">Dental History</h3>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">Previous Dentist:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label">Last Dental Visit:</label>
                                    <div class="col-sm-8">
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h3 class="section-subtitle">Medical History</h3>
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <div class="row mb-3">
                                    <label class="col-sm-5 col-form-label">Physician's Name:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row mb-3">
                                    <label class="col-sm-5 col-form-label">Date of Last Physical Exam:</label>
                                    <div class="col-sm-7">
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row mb-3">
                                    <label class="col-sm-5 col-form-label">Age:</label>
                                    <div class="col-sm-7">
                                        <input type="number" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <ol class="medical-history-list">
                            <li>
                                Are you in a good health?
                                <div class="sub-question"></div>
                            </li>
                            <li>
                                Are you under medical treatment now?
                                <div class="sub-question">If so, what is the condition being treated?</div>
                            </li>
                            <li>
                                Have you ever had serious illness or surgical operation?
                                <div class="sub-question">If so, what illness or operation?</div>
                                <div class="sub-question">When was it?</div>
                            </li>
                            <li>
                                Have you ever been hospitalized?
                                <div class="sub-question">If so, when and why?</div>
                            </li>
                            <li>
                                Are you taking any prescription/non-prescription Medication?
                                <div class="sub-question">If so, please specify</div>
                            </li>
                            <li>
                                Do you used tobacco products?
                                <div class="sub-question"></div>
                            </li>
                            <li>
                                Do you use alcohol, cocaine or other dangerous drugs?
                                <div class="sub-question"></div>
                            </li>
                            <li>
                                Are you allergic to any of the following:
                                <div class="checkbox-grid mt-2">
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="allergy1" name="allergy">
                                        <label for="allergy1">Local Anesthetic (ex. Lidocaine)</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="allergy2" name="allergy">
                                        <label for="allergy2">Penicillin Antibiotics</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="allergy3" name="allergy">
                                        <label for="allergy3">Latex</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="allergy4" name="allergy">
                                        <label for="allergy4">Sulfa Drugs</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="allergy5" name="allergy">
                                        <label for="allergy5">Aspirin</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="allergy6" name="allergy">
                                        <label for="allergy6">Other:</label>
                                        <input type="text" class="form-control form-control-sm d-inline-block w-auto ms-2">
                                    </div>
                                </div>
                            </li>
                            <li>
                                Bleeding Time:
                                <div class="sub-question"></div>
                            </li>
                            <li>
                                For Women only
                                <div class="checkbox-grid mt-2">
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="women1" name="women">
                                        <label for="women1">Are you pregnant?</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="women2" name="women">
                                        <label for="women2">Are you nursing?</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="women3" name="women">
                                        <label for="women3">Are you taking birth control pills?</label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                Blood Type:
                                <div class="sub-question"></div>
                            </li>
                            <li>
                                Blood Pressure:
                                <div class="sub-question"></div>
                            </li>
                            <li>
                                Do you have or have any of this following? check which apply:
                                <div class="checkbox-grid mt-2">
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition1" name="condition">
                                        <label for="condition1">AIDS</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition2" name="condition">
                                        <label for="condition2">Anemia</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition3" name="condition">
                                        <label for="condition3">Arthritis</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition4" name="condition">
                                        <label for="condition4">Allergy</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition5" name="condition">
                                        <label for="condition5">Angina Pectoris</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition6" name="condition">
                                        <label for="condition6">Asthma</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition7" name="condition">
                                        <label for="condition7">Blood Diseases</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition8" name="condition">
                                        <label for="condition8">Bruises</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition9" name="condition">
                                        <label for="condition9">Chest Pain</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition10" name="condition">
                                        <label for="condition10">Blood Pressure</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition11" name="condition">
                                        <label for="condition11">Cancer</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition12" name="condition">
                                        <label for="condition12">Circulatory Disturbances</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition13" name="condition">
                                        <label for="condition13">Diabetes</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition14" name="condition">
                                        <label for="condition14">Drug Addiction</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition15" name="condition">
                                        <label for="condition15">Fainting</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition16" name="condition">
                                        <label for="condition16">Digestive</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition17" name="condition">
                                        <label for="condition17">Epilepsy</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition18" name="condition">
                                        <label for="condition18">Glaucoma</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition19" name="condition">
                                        <label for="condition19">Headaches</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition20" name="condition">
                                        <label for="condition20">Hepatitis</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition21" name="condition">
                                        <label for="condition21">Kidney</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition22" name="condition">
                                        <label for="condition22">Heart Trouble</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition23" name="condition">
                                        <label for="condition23">Hives</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition24" name="condition">
                                        <label for="condition24">Liver</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition25" name="condition">
                                        <label for="condition25">Lung Trouble</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition26" name="condition">
                                        <label for="condition26">Operation</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition27" name="condition">
                                        <label for="condition27">Radiation Therapy</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition28" name="condition">
                                        <label for="condition28">Nervousness</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition29" name="condition">
                                        <label for="condition29">Pains</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition30" name="condition">
                                        <label for="condition30">Rheumatic Fever</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition31" name="condition">
                                        <label for="condition31">Scarlet Fever</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition32" name="condition">
                                        <label for="condition32">Sickle Cell</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition33" name="condition">
                                        <label for="condition33">Stomach Trouble</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition34" name="condition">
                                        <label for="condition34">Sexually Transmitted Diseases</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition35" name="condition">
                                        <label for="condition35">Sinus Trouble</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition36" name="condition">
                                        <label for="condition36">Stroke</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition37" name="condition">
                                        <label for="condition37">Swollen Ankles</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition38" name="condition">
                                        <label for="condition38">Tumor</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition39" name="condition">
                                        <label for="condition39">Venereal Disease</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition40" name="condition">
                                        <label for="condition40">Thyroid Problem</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition41" name="condition">
                                        <label for="condition41">Ulcer</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input type="checkbox" id="condition42" name="condition">
                                        <label for="condition42">Other:</label>
                                        <input type="text" class="form-control form-control-sm d-inline-block w-auto ms-2">
                                    </div>
                                </div>
                            </li>
                        </ol>
                        
                        <div class="d-flex justify-content-end mt-4">
                            <button type="button" class="btn-save">Save</button>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% endblock %}
